.App {
  text-align: center;
}

h1 {
  color: rgba(86, 32, 32, 0.50);
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 32px;
  font-style: bold;
  font-weight: 700;
  line-height: normal;
}

.title {
  color: rgba(86, 32, 32, 0.50);
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 32px;
  font-style: bold;
  font-weight: 700;
  line-height: normal;
}

.App-link {
  color: #61dafb;
}
