.App {
  text-align: center;
}

body {
  background-color: #FCFAE8;
}

.reminder-button {
  font-family: 'Hind', sans-serif;
  border-radius: 8px;
  font-size: 24px;
  background-color: #562020;
  color: #EAB662; 
  font-weight: 700;

}

.reminder-box {
  background-color: #EAB662;
  align-content: center;
  color: #562020;
  border-style: hidden;
  font-family: 'Hind', sans-serif;
  font-style: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.reminder-box-title {
  background-color: #EAB662;
  color: #562020;
  border-style: hidden;
  font-family: 'Hind', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #562020;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 32px;
  font-style: bold;
  font-weight: 700;
  line-height: normal;
}

.title {
  fill: #562020;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 32px;
  font-style: bold;
  font-weight: 700;
  line-height: normal;
}
.reminderDisplay {
  padding-top: 10px;
}
.prio-select {
  border-color: #000000;
  font-size: 18px;
  background-color: #FCFAE8;
}

.light-font {
  fill: #562020;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  font-style: bold;
  font-weight: 300;
  line-height: normal;
  display: inline-block;
  padding-right: 5px;
}

.createReminderWindow {
  display: block;
  padding-top: 15px;
}

.App-link {
  color: #61dafb;
}
